In [47]:
import pandas as pd

# STUDY 15

In [2]:
raw_data = pd.read_excel('STUDY15.xlsx')
raw_data = pd.DataFrame(raw_data)
raw_data.drop(0, inplace = True)
raw_data.drop(1, inplace = True)
# print(len(raw_data))
# s = np.arange
raw_data.index = pd.RangeIndex(start = 0, stop = len(raw_data), step = 1)
# raw_data.reset_index(drop = True)
# raw_data['EFT3_7'][0]

In [3]:
category = raw_data['ET_CHECK']
MONTH1_CUE = raw_data['EFT3_7']
MONTH3_CUE = raw_data['EFT4_7']
YEAR_CUE = raw_data['EFT5_7']
YEAR5_CUE = raw_data['EFT6_7']
YEAR25_CUE = raw_data['EFT7_7']

IP30_100 = raw_data['IP30_100']
IP90_100 = raw_data['IP90_100']
IP365_100 = raw_data['IP365_100']
IP1825_100 = raw_data['IP1825_100']
IP9125_100 = raw_data['IP9125_100']

IP30_1000 = raw_data['IP30_1000']
IP90_1000 = raw_data['IP90_1000']
IP365_1000 = raw_data['IP365_1000']
IP1825_1000 = raw_data['IP1825_1000']
IP9125_1000 = raw_data['IP9125_1000']

exciting_1 = raw_data['Q983_3']
exciting_3 = raw_data['Q987_3']
exciting_yr = raw_data['Q991_3']
exciting_yr5 = raw_data['Q995_3']
exciting_yr25 = ''

vivid_1 = raw_data['Q983_4']
vivid_3 = raw_data['Q987_4']
vivid_yr = raw_data['Q991_4']
vivid_yr5 = raw_data['Q995_4']
vivid_yr25 = ''
# category[1]

In [4]:
ID = []
EFT_ERT = []
DELAY = []
EXCITEMENT = []
VIVID = []
IP100_VALUES = []
IP = []
IP1000_VALUES = []
CUES = []

count = 1
id_update = 1
for i in range(len(raw_data)):
#     if count > 3:
#         count = 1
#     id_update += 1
        
    if category[i] == 'EFT':
        delay = 0
        ip100 = 0.0
        ip1000 = 0.0 
        cue = []
        excited = 0.0
        vividness = 0.0
        eft = category[i]
        
        for j in range(1,6):
            if j == 1:
                delay = 30
                ip100 = IP30_100[i]
                ip1000 = IP30_1000[i]
                cue = MONTH1_CUE[i]
                excited = exciting_1[i]
                vividness = vivid_1[i]
            elif j == 2:
                delay = 90
                ip100 = IP90_100[i]
                ip1000 = IP90_1000[i]
                cue = MONTH3_CUE[i]
                excited = exciting_3[i]
                vividness = vivid_3[i]
            elif j == 3:
                delay = 365
                ip100 = IP365_100[i]
                ip1000 = IP365_1000[i]
                cue = YEAR_CUE[i]
                excited = exciting_yr[i]
                vividness = vivid_yr[i]
            elif j == 4:
                delay = 1825
                ip100 = IP1825_100[i]
                ip1000 = IP1825_1000[i]
                cue = YEAR5_CUE[i]
                excited = exciting_yr5[i]
                vividness = vivid_yr5[i]
            elif j == 5:
                delay = 9125
                ip100 = IP9125_100[i]
                ip1000 = IP9125_1000[i]
                cue = YEAR25_CUE[i]
                excited = exciting_yr25
                vividness = vivid_yr25

            ID.append(i+1)
            EFT_ERT.append(eft)
            DELAY.append(delay)
            IP100_VALUES.append(ip100)
            IP1000_VALUES.append(ip1000)
            IP.append('IP' + str(delay))
            CUES.append(cue)
            EXCITEMENT.append(excited)
            VIVID.append(vividness)
        
#         id_update += 1
#         count += 1

In [5]:
compiled_data = pd.DataFrame({ 'ID' : ID,
                            'CATEGORY': EFT_ERT,
                            'DELAY': DELAY,
                            'IP': IP,
                            'IP100 VALUE': IP100_VALUES,
                            'IP1000 VALUE': IP1000_VALUES,
                            'CUES': CUES,
                            'EXCITEMENT': EXCITEMENT,
                            'VIVIDNESS': VIVID})

In [26]:
all_data = compiled_data
all_data

,ID,CATEGORY,DELAY,IP,IP100 VALUE,IP1000 VALUE,CUES,EXCITEMENT,VIVIDNESS
0,1,EFT,30,IP30,22.66,23.44,"In about 1 month, I am going fishing with my f...",5 - Very Much,5 - Very Much
1,1,EFT,90,IP90,19.54,101.56,"In about 3 months, I am eating dinner with my ...",5 - Very Much,5 - Very Much
2,1,EFT,365,IP365,2.34,23.44,"In about 1 year, I am going deer hunting with ...",5 - Very Much,4
3,1,EFT,1825,IP1825,0.78,7.80,"In about 5 years, I am attending my sister's r...",4,4
4,1,EFT,9125,IP9125,0.78,7.80,"In about 25 years, I am having cake and ice cr...",,
...,...,...,...,...,...,...,...,...,...
245,88,EFT,30,IP30,99.22,992.20,"In about 1 month, I am in school with my frien...",5 - Very Much,5 - Very Much
246,88,EFT,90,IP90,88.28,992.20,"In about 3 months, I am in Florida on vacation...",5 - Very Much,5 - Very Much
247,88,EFT,365,IP365,24.22,929.70,"In about 1 year, I am in India visiting my gra...",5 - Very Much,5 - Very Much
248,88,EFT,1825,IP1825,13.28,898.44,"In about 5 years, I am at Disney World. I am w...",5 - Very Much,5 - Very Much
249,88,EFT,9125,IP9125,5.46,85.94,"In about 25 years, I am sitting in my house wi...",,

In [7]:
compiled_data.to_excel('cleaned/CLEAN_STUDY15.xlsx', index = False)

# STUDY 17

In [8]:
data_17 = pd.read_excel('STUDY17.xlsx')
data_17 = pd.DataFrame(data_17)
for i in range(73):
    data_17.drop(i, inplace = True)

data_17.index = pd.RangeIndex(start = 0, stop = len(data_17), step = 1)
data_17['Q98_3']

0       5
1       5
2       5
3       5
4       5
     ...
64    NaN
65    NaN
66    NaN
67    NaN
68    NaN
Name: Q98_3, Length: 69, dtype: object

In [9]:
MONTH1_CUE = data_17['EFT1_3']
MONTH6_CUE = data_17['EFT2_3']
YEAR_CUE = data_17['EFT3_3']

IP30 = data_17['IP30']
IP180 = data_17['IP180']
IP365 = data_17['IP365']

exciting_1 = data_17['Q98_3']
exciting_6 = data_17['Q111_3']
exciting_yr = data_17['Q2129_3']

vivid_1 = data_17['Q98_5']
vivid_6 = data_17['Q111_5']
vivid_yr = data_17['Q2129_5']

In [10]:
ID = []
EFT_ERT = []
DELAY = []
IP_VALUES = []
IP = []
CUES = []
EXCITEMENT = []
VIVID = []

for i in range(len(data_17)):
    delay = 0
    ip = 0.0
    cue = []
    eft = 'EFT'
    excited = 0.0
    vividness = 0.0

    for j in range(1,4):
        if j == 1:
            delay = 30
            ip = IP30[i]
            cue = MONTH1_CUE[i]
            excited = exciting_1[i]
            vividness = vivid_1[i]
        elif j == 2:
            delay = 90
            ip = IP180[i]
            cue = MONTH6_CUE[i]
            excited = exciting_6[i]
            vividness = vivid_6[i]
        elif j == 3:
            delay = 365
            ip = IP365[i]
            cue = YEAR_CUE[i]
            excited = exciting_yr[i]
            vividness = vivid_yr[i]

        ID.append(i+1)
        EFT_ERT.append(eft)
        DELAY.append(delay)
        IP_VALUES.append(ip)
        IP.append('IP' + str(delay))
        CUES.append(cue)
        EXCITEMENT.append(excited)
        VIVID.append(vividness)

In [11]:
compiled_data_17 = pd.DataFrame({ 'ID' : ID,
                            'CATEGORY': EFT_ERT,
                            'DELAY': DELAY,
                            'IP': IP,
                            'IP VALUE': IP_VALUES,
                            'CUES': CUES,
                            'EXCITEMENT': EXCITEMENT,
                            'VIVIDNESS': VIVID })
compiled_data_17.to_excel('cleaned/CLEAN_STUDY17.xlsx', index = False)

In [27]:
compiled_data_17

,ID,CATEGORY,DELAY,IP,IP VALUE,CUES,EXCITEMENT,VIVIDNESS
0,1,EFT,30,IP30,24.22,"""In about 1 month I will at my daughters previ...",5.0,5.0
1,1,EFT,90,IP90,44.54,In about 6 months I am at Walt Disney World Ma...,5.0,5.0
2,1,EFT,365,IP365,38.28,In about 1 year I am going to be moving into a...,NaN,NaN
3,2,EFT,30,IP30,86.72,"Incidentally, the other person living with me ...",5.0,5.0
4,2,EFT,90,IP90,0.78,I will be applying for Social Security online....,5.0,5.0
...,...,...,...,...,...,...,...,...
202,68,EFT,90,IP90,5.46,NaN,NaN,NaN
203,68,EFT,365,IP365,0.78,NaN,NaN,NaN
204,69,EFT,30,IP30,97.66,NaN,NaN,NaN
205,69,EFT,90,IP90,96.10,NaN,NaN,NaN
206,69,EFT,365,IP365,74.22,NaN,NaN,NaN

In [28]:
all_data.append(compiled_data_17, ignore_index = True, sort=True)

,CATEGORY,CUES,DELAY,EXCITEMENT,ID,IP,IP VALUE,IP100 VALUE,IP1000 VALUE,VIVIDNESS
0,EFT,"In about 1 month, I am going fishing with my f...",30,5 - Very Much,1,IP30,NaN,22.66,23.44,5 - Very Much
1,EFT,"In about 3 months, I am eating dinner with my ...",90,5 - Very Much,1,IP90,NaN,19.54,101.56,5 - Very Much
2,EFT,"In about 1 year, I am going deer hunting with ...",365,5 - Very Much,1,IP365,NaN,2.34,23.44,4
3,EFT,"In about 5 years, I am attending my sister's r...",1825,4,1,IP1825,NaN,0.78,7.80,4
4,EFT,"In about 25 years, I am having cake and ice cr...",9125,,1,IP9125,NaN,0.78,7.80,
...,...,...,...,...,...,...,...,...,...,...
452,EFT,NaN,90,NaN,68,IP90,5.46,NaN,NaN,NaN
453,EFT,NaN,365,NaN,68,IP365,0.78,NaN,NaN,NaN
454,EFT,NaN,30,NaN,69,IP30,97.66,NaN,NaN,NaN
455,EFT,NaN,90,NaN,69,IP90,96.10,NaN,NaN,NaN
456,EFT,NaN,365,NaN,69,IP365,74.22,NaN,NaN,NaN

### STUDY14

In [79]:
raw_data = pd.read_excel('STUDY14.xlsx')
raw_data = pd.DataFrame(raw_data)
raw_data.drop(0, inplace = True)
raw_data.index = pd.RangeIndex(start = 0, stop = len(raw_data), step = 1)
# raw_data.sort_values(by = ['SUBJECTID'], inplace=True)
# raw_data
raw_data['SUBJECTID'] = raw_data['SUBJECTID'].astype(str)
raw_data.sort_values(by = ['SUBJECTID'], inplace=True)
# raw_data[:-1]

,V1,V2,V3,V4,V5,SC0_0,SC0_1,SC0_2,SC1_0,SC1_1,...,VIVIDM1.3,THINKM2.3,VIVIDM2.3,THINKM3.3,VIVIDM3.3,Q2793,Q516.2,Q2371,Q517.1,Q2370
166,ResponseID,ResponseSet,StartDate,EndDate,Finished,DM100K2-sum,DM100K2-weightedAvg,DM100K2-weightedStdDev,DM1KK2-sum,DM1KK2-weightedAvg,...,"-During the previous choices, how vivid were ...","-During the previous choices, how much did yo...","-During the previous choices, how vivid were ...","-During the previous choices, how much did yo...","-During the previous choices, how vivid were ...",We know it can be hard to think about your e...,"In the following task, you will be asked to ch...","If you can read this, your browser does not su...","In the following task, you will be asked to ch...","If you can read this, your browser does not su..."
0,R_3snd3JOVPV2SOd7,Default Response Set,2017-03-01 09:30:44,2017-03-01 10:37:15,1,0,0,0,0,0,...,5,1,1,1,1,1,NaN,999,NaN,999
87,R_AysBBi53w9t9qBb,Default Response Set,2017-02-14 13:28:24,2017-02-14 16:48:15,1,0.05832,0.05832,0,0.01341,0.01341,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88,R_6fiP9gUY8naQMUl,Default Response Set,2017-02-17 10:05:00,2017-02-17 13:04:39,1,0,0,0,0,0,...,3,11,11,3,3,1,NaN,999,NaN,999
89,R_3dYZnutb0LD0Sa4,Default Response Set,2017-03-27 13:12:30,2017-03-27 14:18:05,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,R_vSOI1azOKh0Tf5T,Default Response Set,2017-08-07 10:03:23,2017-08-07 11:22:14,1,0.03955,0.03955,0,0.05832,0.05832,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
172,R_3ME8nCNkahVpGxC,Default Response Set,2017-08-11 10:27:48,2017-08-11 11:30:06,1,0,0,0,0,0,...,4,9,9,4,4,NaN,1,999,1,999
86,R_4J9nluzZYaevooZ,Default Response Set,2017-07-05 13:48:39,2017-07-05 14:12:38,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,R_31clEuhxVFADwUE,Default Response Set,2017-06-30 14:06:24,2017-06-30 15:44:40,1,0.01341,0.01341,0,0.00194,0.00194,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85,R_9S3JeVcB7KCuBcF,Default Response Set,2017-07-05 13:15:44,2017-07-05 13:38:21,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [88]:
subjectid = raw_data['SUBJECTID']
eft_MONTH1_CUE = raw_data['EFT1_3']
eft_MONTH6_CUE = raw_data['EFT2_3']
eft_YEAR_CUE = raw_data['EFT3_3']

IP30 = raw_data['IP30']
IP180 = raw_data['IP180']
IP365 = raw_data['IP365']

eft_exciting_1 = raw_data['Q98_3']
eft_exciting_6 = raw_data['Q111_3']
eft_exciting_yr = raw_data['Q474_3']

eft_vivid_1 = raw_data['Q98_5']
eft_vivid_6 = raw_data['Q111_5']
eft_vivid_yr = raw_data['Q474_4']

ert_1D_CUE = raw_data['ERT1_3']
ert_6D_CUE = raw_data['ERT2_3']
ert_12D_CUE = raw_data['ERT3_3']

data_14_dict = {}
for i in range(len(subjectid)):
    key = subjectid[i]
    
    if key not in data_14_dict:
#     else:
        if raw_data['EFT_START'][i] == 1:
            data_14_dict[key] = []
            data_14_dict[key].append('EFT')
            data_14_dict[key].append(MONTH1_CUE[i])
            data_14_dict[key].append(IP30[i])
            data_14_dict[key].append(exciting_1[i])
            data_14_dict[key].append(vivid_1[i])

            data_14_dict[key].append(MONTH6_CUE[i])
            data_14_dict[key].append(IP180[i])
            data_14_dict[key].append(exciting_6[i])
            data_14_dict[key].append(vivid_6[i])

            data_14_dict[key].append(YEAR_CUE[i])
            data_14_dict[key].append(IP365[i])
            data_14_dict[key].append(exciting_yr[i])
            data_14_dict[key].append(vivid_yr[i])
        elif raw_data['ERT_START'][i] == 1:
            data_14_dict[key] = []
            data_14_dict[key].append('ERT')
            data_14_dict[key].append(ert_1D_CUE[i])
            data_14_dict[key].append(ert_6D_CUE[i])
            data_14_dict[key].append(ert_12D_CUE[i])
        
data_14_dict

{'UB2MD201P': ['EFT',
  "in about 1 month i am at the movies with my cousin for my birthday. we are going to see la la land.  we will really enjoy it, it really looks like a happy movie.  we are going out to eat after at pasquelle's for pizza my favorite.",
  789.06,
  5,
  4,
  'in about 6 months my sister carolyn is home from florida.  i always enjoy when she is here to help me . we are in my house waiting for her my mother and me. i always get excited when she comes home.',
  554.7,
  5,
  5,
  'In about 1 year i am planning for christmas.  i will get gifts from my family that i always love and i will thank everyone.',
  632.8,
  0.114,
  0],
 'UB2MD207': ['EFT',
  'In about one month I am kayaking on Lake Erie. It is a sunny day but not too hot. The water is very clear. It is early in the morning and quiet on the lake. I only hear the sound of the paddles going through the water.',
  351.56,
  4,
  2,
  'In about 6 months I am at the WHO concert in Canadaigua, NY. I am with Pete and his brother Phil. We are drinking beer and I am feeling buzzed, but not too drunk. I am listening to the music and it makes me feel happy. ',
  117.2,
  4,
  1,
  'In about 1 year I am starting a new job. I am driving to work. I am excited about starting something new and meeting new people. I am relieved that my old job is finally over. /',
  85.94,
  nan,
  nan],
 'UB2MD210': ['EFT',
  "In about one month, I am having a steak dinner with my brother Mark, whom I rarely see.  We are at my brother's favorite steakhouse.  I am enjoying a champagne cocktail to start and am thinking about the rib-eye.  The conversation is good especially because I rarely see him.",
  992.2,
  5,
  3,
  'In about six months, I am traveling alone to New York City to see the Broadway show Hamilton.  As I walk towards the Richard Rogers theatre, I am happy to be finally seeing a live cast perform one of my favorite musicals.  ',
  992.2,
  4,
  3,
  'In about one year I am getting a new cat.  I have had cats for many years, and will be adding to my cat family.   I see a beautiful cat with a sad story and immediately fall in love.  And I am happy to be giving a needy cat a nice home.',
  992.2,
  nan,
  nan],
 'UB2MD215': ['EFT',
  'In about 1 month I am hosting a back yard cook-out for my son who is in town. The grand kids are tossing water balloons at Joe. My brother needs another beer. Aunt Jane and Lou are speaking of moving, not sure of where. Sharon is excited of the up-coming trip to Ireland with her family. It is sunny & warm.',
  710.94,
  4,
  4,
  'In about 6 months my wife & I are visiting Maine. We are going to enjoy the scenery and  eat lobsters. We are descending from the parking lot to the waterfront outside dining area. We walk past the live lobster tanks to our table at the edge of the water surrounded by tiki torches. Our server brings us frosty mugs of cold beer to enhance our huge lobster dinners. The sun is about to set out over the ocean with a warm pink glow.',
  867.2,
  4,
  5,
  'In about 1 year I am flying to Salt Lake City to construct a deck on my son`s house. My son and I are in the back yard laying out the plans for the deck. The snow-capped mountains are surrounding us with a warm sun beating down. Annie & Meghan are assisting us with the tools, beverages, and general lay out of the deck with it`s multiple levels. It is good to be instructing and helping my son with this major project to his outdoor landscaping.',
  742.2,
  nan,
  nan],
 'UB2MD216': ['EFT',
  'In about one month I am celebrating my sons birthday. I am at dinner with family and friends smelling the food odors and I am getting ready to order my food and eat. We are talking and laughing. We are excited to celebrate his birthday.',
  992.2,
  5,
  5,
  'In about 6 months I am at Wagamama. It is summer and we are sitting outside. I am sitting with Emily, Jayson and Elisa. I am enjoying the sights and sounds of Fanuiel Hall and it is warm outside. I am happy to be with friends and family. ',
  992.2,
  5,
  5,
  'In about 1 year I am on vacation in Puerto Rico with my friends. We are lying on the beach. It is warm and sunny. We are having drinks on the beach and I am reading a Patterson novel.',
  992.2,
  nan,
  nan],
 'UB2MD219': ['EFT',
  'In about a month I am swimming in our pool. My husband Tim and I are enjoying the cool water and the relaxation that it brings. Tim brings me an adult beverage and he is playing the Piano Boys music on Pandora. I am enjoying the drink and his company. The sun is hot and feels good on my skin. I am laying on the chaise lounge. My arthritis benefits from the heat.',
  976.56,
  5,
  5,
  'In about 6 months I am traveling to Virginia to see my daughter and her family. I am so happy to be spending time with Kim and my grandchildren. Riding in the truck on the way down brings me joy.  It is very spacious and I am comfortable. My husband and I are stopping at all our favorite places on the way. I am happy to see that our favorite restaurant is still open!',
  742.2,
  5,
  5,
  'In about 1 year I am playing pickleball with my new friends in Florida. I am playing well and winning the matches. I am happy that I played up North and improved my game. My skill level has improved as well as my stamina. I am playing with Brenda, Roy and Tim.',
  960.94,
  nan,
  nan],
 'UB2MD223': ['EFT',
  "In about 1 month I am at my grandson's confirmation. He looks so handsome in his suit and I am sitting in St. Gregory the Great church with my daughter Cherie, her husband Joe , her son Zach, my son Jeffrey,Tammy, Shelby and the rest of the family.  I see Dylan coming down the aisle with the rest of the kids who are confirmed.",
  nan,
  5,
  5,
  "In about 6 months I am at my grandson Zach's birthday party.  We are having cake & ice cream with the family & his friends.  He is very excited to be opening his presents.",
  nan,
  5,
  5,
  "In about 1 year I'm retiring. I've worked for 20 years and I am happy to retire.  I am getting a decent pension & now I am able to do all the things I've had to put off for a time.  I am also catching up on my reading & enjoying the seasons.",
  nan,
  nan,
  nan],
 'UB2MD225': ['EFT',
  "In about 1 month I am having friends over for dinner to celebrate their birthdays. I am with Lynnie and Jim. I am making goulash, which is Lynnie's favorite.",
  695.3,
  5,
  4,
  'In about 6 months I am seeing my family who are visiting from Texas. I am with my sister, brother-in-law, and nephews.  I am doing many things with all of them.  I am spending time with my nephews individually.',
  492.2,
  5,
  4,
  'In about 1 year I am going to Dallas for Thanksgiving.  I am seeing my sister, brother-in-law, and nephews.  I am spending time with my nephews.  I am enjoying Thanksgiving dinner.',
  414.06,
  nan,
  nan],
 'UB2MD227': ['EFT',
  "In about one month I am celebrating Father's Day with Bob, my partner. I am giving him a gas grill, which he has been wanting & hinting at getting. He is very happy with it and he makes filet mignon, wrapped in bacon, on the new grill. It is very good. We are eating on the deck, under the umbrella, with our two dogs. My two daughters aren't there; they are with their father. So Bob & I have a nice dinner, with potatoes & salad too.",
  992.2,
  4,
  3,
  "In about 6 months, we are celebrating Bob's birthday. He is grilling steaks for dinner, on his gas grill. They are very good. We also have lobster. It is just the two of us. We are celebrating on a Saturday night, and we have the next day off from work and it is a very relaxing, happy evening.",
  976.56,
  5,
  3,
  "In about one year, I am visiting Bernadette at RIT for an art show of hers. Bernie is finishing up her first year of college. She is very happy because she got high grades & she is very excited because she wants me & her sister Lilli to see her great work. I meet both Bernie & Lilli at RIT. I go to Bernie's dorm. I see her roommate, & some of her suite mates. They are very nice kids. Bernie has made a few friends & I am thrilled for her.",
  976.56,
  nan,
  nan],
 'UB2MD239': ['EFT',
  "In about one month, I'm at a music festival with my family.  I'm sitting on a comfortable folding chair, under shady green trees. We're laughing and enjoying conversation and music.  It's warm and breezy. There are saxophones and djembe drums and amazing vocal harmonies. There are people of all ages, colorfully dressed, dancing. We're all enjoying Xyla's efforts to dance on a blanket, clapping when she's pleased with herself.  ",
  992.2,
  4,
  5,
  "In about six months, I'm at a family reunion celebrating Rita and Jack's 50th at Evangola State Park.  The sky is blue, with a few drifting clouds, and there's a nice breeze off the lake.  I feel so happy to see family members who haven't lived in the area for awhile.  The kids make me laugh and I enjoy playing volleyball, having a treasure hunt, and several great rounds of Bananagrams on a picnic table. I take a walk on the beach with my sisters. There are tables filled with delicious foods.  I love the sounds of waves and children and seagulls crying out, the smell of hot dogs and coconut sunscreen.",
  367.2,
  4,
  5,
  "In about 1 year, I'm picking up my daughter at the airport.  I'm so relieved to have her home after she studied abroad.  I've been waiting in the lobby at the Buffalo Airport, when I see her on the escalator, coming down. My eyes fill with tears of great joy, and we both laugh out loud. I've missed her very much and it's the most comforting feeling I can imagine, to hug her tightly.  I look at her, to see if she's changed.   She looks very tired but happy, more slender, and her hair is longer.  I feel grateful for her opportunities.  She smells like my daughter, and her cheek is soft when it touches mine.",
  617.2,
  nan,
  nan],
 'UB2MD246': ['EFT',
  "In about 1 month I am at a barbecue with my family. We are in my parent's backyard and I  am smelling  the salmon burgers cooking, I am seeing the leaves on the trees swaying, and I  am smelling the beach.  I am feeling happy and relaxed and enjoying the nice weather.",
  960.94,
  5,
  2,
  'In about 6 months I am at a party dancing on the beach in Jamaica. I am with my family and friends.  I am at the beach enjoying the beautiful scenery at night and I am enjoying the good food.  I am feeling relaxed and content.',
  960.94,
  5,
  3,
  "In about 1 year I am at my nephew's birthday party.  We are at Dave and Buster's.  I am playing pin the tail on the donkey with the children and I am eating delicious Carvel ice cream cake.",
  492.2,
  nan,
  nan],
 'UB2MD251': ['EFT',
  "in about 1 month i am at my grandson's birthday party. i am with my wife, son, his wife, some more family members and some of shanes friends from his baseball and hockey teams. it is outside in the back where the new in-ground swimming pool has just been put in. it is a sunny day and some of the kids are in the pool. some of the older relatives are sitting quietly in chairs enjoying the day. it is hot and i wish i was in the pool. i am going in when the kids are thru. my son is cooking on the outdoor grill i am waiting hungrily for a hotdog and a hamburger. i am into my second bud lite from the cooler and i am sitting in the shade just watching all the action and activity. i am warm and feeling quite content but am daydreaming about going to play golf. ",
  992.2,
  5,
  5,
  'in about 6 months i am at the second day of my annual golf tournament in cape cod. i am with tom, joe, and mike. i am ahead in the match as we make the turn. it is a sunny day but cool for the end of september.  i am playing well and i had a birdie on the long par five.i am am on joes team and i am looking forward to winning the trophy. i just hit a beautiful 5 wood 150 yards to the center of the green. i am really enjoying that shot.',
  945.3,
  3,
  5,
  'in about a year i am at ft myers beach in florida. i am sitting on my favorite chair. i am with my wife pam and i am watching all the people walk by . i am enjoying the sunny weather and i am resting after a swim in the  gulf. there is only a slight breeze and the waves are just washing easily against the shore. i am enjoying a great day. i am thinking about taking a walk down to the public pier. i am thinking about fishing off the pier.',
  882.8,
  nan,
  nan],
 'UB2MD255': ['EFT',
  'In about one month I am at the closing ceremony of the 11 day powerplay at Harborside.  My daughter is with me , as her husband is participating in the event. There is a large crowd and my son in laws accomplishment is very exciting. This is the closing event of setting a world record. It is exciting for them to set a world record and donate one million dollars to cancer research.',
  898.44,
  5,
  4,
  ' In about 6 months I am very excited that my daughter, 23, is moving into her first home.  I am happy that she is working to refurbish the house over the next six months to move into the house with her boyfriend. It is great to share her excitement with her. ',
  492.2,
  5,
  4,
  'In about one year I am moving to a new level in my job and increasing my salary significantly.',
  492.2,
  nan,
  nan],
 'UB2MD265': ['EFT',
  'In about 1 month I am at the Erie County Fair with my family. I am with my husband and my 3 boys. I am enjoying all the attractions, rides, games and food. I am feeling excited.',
  992.2,
  5,
  5,
  'In about 6 months I am celebrating Christmas.I am with my husband and 3 boys. I am also spending some time with extended family. I feel excited and relaxed. I am enjoying watching my children open their gifts.',
  992.2,
  5,
  5,
  'In about 1 year I am on vacation. I am with my husband and 3 boys. I am enjoying the scenery and the fun things that we are doing. I am enjoying watching my children enjoy the places we are visiting.',
  992.2,
  nan,
  nan],
 'UB2MD272': ['EFT',
  "In about 1 month I am at spree magazine's 50th anniversary party. I am with my two friends and it is interesting because it is in the new Hotel Henry.",
  242.2,
  5,
  5,
  'In about 6 months I am at a formal tea fund raiser for variety club. I am with my numerous friends enjoying the friendship, tea and food.',
  117.2,
  4,
  5,
  'In about a year I am at my granddaughters graduation. I am at JFK high school for the ceremonies.',
  242.2,
  nan,
  nan],
 'UB2MD273': ['EFT',
  'In about 1 month I am at my birthday event. My family that is here is helping with my party by going to dinner and giving me gifts.',
  492.2,
  5,
  5,
  'In about 6 months my wife and I are at Norfolk VA to see my grandson return from deployment.',
  882.8,
  5,
  4,
  'In about 1 year I am at where my grandson is stationed.',
  492.2,
  nan,
  nan],
 'UBTEST': ['EFT',
  'In about 1 month I am camping at Allegheny state park. I love the scenery and hanging out with all of my great friends.',
  nan,
  5,
  5,
  'In about 6 months I am celebrating Christmas early. I am happy to be home. All of my family is playing cards against humanity and I am winning.',
  nan,
  5,
  5,
  'In about 1 year I am graduating. It is super exciting because i receiving the highest honor. My family is at the ceremony.',
  nan,
  nan,
  nan],
 'VT2MD0265': ['EFT',
  'In about 1 month I will be visiting Wheels Through Time Museum.  I am with my friend John.  We are looking at many antique motorcycles.  We are looking at interesting mechanical features and discussing them.  I am mentally stimulated trying to understand the old machinery.',
  960.94,
  3,
  4,
  'In about 6 months I am making Thanksgiving dinner.  My wife and family and I are at our house working together make a large meal.  I am smoking a turkey, and playing with grandchildren.  Friends are coming by to eat.  I enjoy making the food and having family and friends at the house.',
  867.2,
  3,
  2,
  'In about 1 year my wife and I will be celebrating our anniversary.  We are visiting some interesting location.  We are having a nice dinner at a fancy restaurant.  We talk about our life and family.  I am happy.',
  695.3,
  nan,
  nan],
 'VT2MD203': ['EFT',
  'In about 1 month I am at Pigeon Forge, Tn with family. I am walking the streets of Pigeon Forge with Millie, Denny and Susan. We are window shopping and stopping at the candy store to pick up sweets for us and taffy for our friends. I am eating at my favorite eatery and shopping for special things only found in Tenn. I am having the time of my life seeing old friends as I walk the streets. / ',
  742.2,
  5,
  5,
  'In about 6 months I am at the Va state baseball playoffs at Lord Botetourt High School with the Staunton River Golden Eagles. I am keeping the score for the best game of the year and coaching the best kids in the area.',
  757.8,
  5,
  5,
  'In about one year from now, I am at the dock in Seattle Wash. with Millie waiting to get on board for the trip up the coast of Alaska. I am excited about our stops at the different towns we are going to see.',
  492.2,
  nan,
  nan],
 'VT2MD206': ['EFT',
  'In about a month I am unpacking moving boxes and decorating my new house for which I am signing a lease on tomorrow, in Vinton VA with my mother & aunt as I am unloading the moving truck, I am driving bringing our things. / ',
  992.2,
  5,
  5,
  'In about 6 months I am on a cruise ship, I am traveling with my entire family on a cruise ship headed for the Bahamas that I booked yesterday.',
  992.2,
  4,
  5,
  'In about a year I am at a cousins weekend get together in Arlington VA and it thrills me.',
  992.2,
  nan,
  nan],
 'VT2MD209': ['EFT',
  'In about 1 month I am at the farm with my coworkers. We are in the pasture, feeding cows.  I am feeling happy, because I am making money. I am having fun learning and working. ',
  992.2,
  5,
  5,
  'In about 6 months I am at the lake. I am with my girlfriend. We are riding on the boat. We are listening to music and relaxing. We are admiring the pretty lake view.',
  976.56,
  5,
  5,
  'In about 1 year I am sitting in my new house. I am with my friends. I am relaxing in my first house. I am happy to have my own place.',
  492.2,
  nan,
  nan],
 'VT2MD211': ['EFT',
  "in about 1 month it is my birthday and I'm at dinner at kabuki. I am with my husband. We are enjoying watching the chef prepare the food in front of us. I am eating the soup, salad with ginger dressing, and hibachi shrimp and rice. I am feeling happy and at peace.",
  804.7,
  4,
  4,
  'in about 6 months i am at the park and watching fireworks on july 4th. I am with my sister. We are at riverside park. I enjoy watching the live band and eating funnel cakes. We go every year. I feel happy and excited.',
  242.2,
  5,
  3,
  'in about a year, I am moving into a new home. I am with my husband and our cat. I am not sure where the home will be, but it is a much needed move. I will have more space, a bigger kitchen, and a yard. I am feeling excited and joyful about it. ',
  898.44,
  nan,
  nan],
 'VT2MD212': ['EFT',
  'In about two weeks, I am at at Middle Atlantic States Conclave in Wilmington, Delaware. I am with one of my friends, Joanne. We are in the hotel lobby visiting with friends from 8 states that are included in the Conclave. I am excited to see my friends and introduce Joanne to them. Friends are with us from Virginia, West Virginia, Pennsylvania, New York, Delaware, New Jersey, Washington D.C. and Connecticut. As always I am thoroughly enjoying seeing my friends and catching up on life events. ',
  992.2,
  5,
  5,

In [89]:
SID = []
EFT_ERT = []
DELAY = []
IP_VALUES = []
IP = []
CUES = []
EXCITEMENT = []
VIVID = []
u=0
for key in data_14_dict:
    delay = 0
    ip = 0.0
    cue = []
#     eft = 'EFT'
    excited = 0.0
    vividness = 0.0
#     u+=1
    for j in range(1,4):
#         print("Count ", u)
        if j == 1:
            if data_14_dict[key][0] == 'EFT':
                eft = data_14_dict[key][0]
                delay = 30
                ip = data_14_dict[key][2]
                cue = data_14_dict[key][1]
                excited = data_14_dict[key][3]
                vividness = data_14_dict[key][4]
            elif data_14_dict[key][0] == 'ERT':
                eft = data_14_dict[key][0]
                delay = 1
#                 ip = data_14_dict[key][2]
                cue = data_14_dict[key][1]
        elif j == 2:
            if data_14_dict[key][0] == 'EFT':
                eft = data_14_dict[key][0]
                delay = 180
                ip = data_14_dict[key][6]
                cue = data_14_dict[key][5]
                excited = data_14_dict[key][7]
                vividness = data_14_dict[key][8]
            elif data_14_dict[key][0] == 'ERT':
                eft = data_14_dict[key][0]
                delay = 6
#                 ip = data_14_dict[key][2]
                cue = data_14_dict[key][2]
                
        elif j == 3:
            if data_14_dict[key][0] == 'EFT':
                eft = data_14_dict[key][0]
                delay = 365
                ip = data_14_dict[key][10]
                cue = data_14_dict[key][9]
                excited = data_14_dict[key][11]
                vividness = data_14_dict[key][12]
            elif data_14_dict[key][0] == 'ERT':
                eft = data_14_dict[key][0]
                delay = 12
#                 ip = data_14_dict[key][2]
                cue = data_14_dict[key][3]
#         u += 1       
        SID.append(key)
        EFT_ERT.append(eft)
        DELAY.append(delay)
        IP_VALUES.append(ip)
        IP.append('IP' + str(delay))
        CUES.append(cue)
        EXCITEMENT.append(excited)
        VIVID.append(vividness)

In [90]:
compiled_data_14 = pd.DataFrame({ 'SUBJECTID' : SID,
                            'CATEGORY': EFT_ERT,
                            'DELAY': DELAY,
                            'IP': IP,
                            'IP VALUE': IP_VALUES,
                            'CUES': CUES,
                            'EXCITEMENT': EXCITEMENT,
                            'VIVIDNESS': VIVID })
compiled_data_14.to_excel('cleaned/CLEAN_STUDY14.xlsx', index = False)

In [85]:
compiled_data_14

,SUBJECTID,CATEGORY,DELAY,IP,IP VALUE,CUES,EXCITEMENT,VIVIDNESS
0,UB2MD201P,EFT,30,IP30,789.06,in about 1 month i am at the movies with my co...,5.000,4.0
1,UB2MD201P,EFT,180,IP180,554.70,in about 6 months my sister carolyn is home fr...,5.000,5.0
2,UB2MD201P,EFT,365,IP365,632.80,In about 1 year i am planning for christmas. ...,0.114,0.0
3,UB2MD207,EFT,30,IP30,351.56,In about one month I am kayaking on Lake Erie....,4.000,2.0
4,UB2MD207,EFT,180,IP180,117.20,In about 6 months I am at the WHO concert in C...,4.000,1.0
...,...,...,...,...,...,...,...,...
223,VT2MD279,ERT,6,IP6,0.00,About 24 hours ago I was eating breakfast with...,0.000,0.0
224,VT2MD279,ERT,12,IP12,0.00,About 24 hours ago I was eating breakfast with...,0.000,0.0
225,VT2MD290,ERT,1,IP1,0.00,"About 24 hours ago, I was in my kitchen cookin...",0.000,0.0
226,VT2MD290,ERT,6,IP6,0.00,"About 24 hours ago, I was in my kitchen cookin...",0.000,0.0
227,VT2MD290,ERT,12,IP12,0.00,"About 24 hours ago, I was in my kitchen cookin...",0.000,0.0

In [29]:
all_data.append(compiled_data_14, ignore_index = True, sort=True)

,CATEGORY,CUES,DELAY,EXCITEMENT,ID,IP,IP VALUE,IP100 VALUE,IP1000 VALUE,SUBJECTID,VIVIDNESS
0,EFT,"In about 1 month, I am going fishing with my f...",30,5 - Very Much,1.0,IP30,NaN,22.66,23.44,NaN,5 - Very Much
1,EFT,"In about 3 months, I am eating dinner with my ...",90,5 - Very Much,1.0,IP90,NaN,19.54,101.56,NaN,5 - Very Much
2,EFT,"In about 1 year, I am going deer hunting with ...",365,5 - Very Much,1.0,IP365,NaN,2.34,23.44,NaN,4
3,EFT,"In about 5 years, I am attending my sister's r...",1825,4,1.0,IP1825,NaN,0.78,7.80,NaN,4
4,EFT,"In about 25 years, I am having cake and ice cr...",9125,,1.0,IP9125,NaN,0.78,7.80,NaN,
...,...,...,...,...,...,...,...,...,...,...,...
788,EFT,NaN,180,NaN,NaN,IP180,NaN,NaN,NaN,test,NaN
789,EFT,NaN,365,,NaN,IP365,NaN,NaN,NaN,test,
790,EFT,In about 1 month I am my Aunt Julie's house. I...,30,5,NaN,IP30,NaN,NaN,NaN,1234,5
791,EFT,In about 6 months I am at my parents house. I ...,180,5,NaN,IP180,NaN,NaN,NaN,1234,5
792,EFT,In about 1 year I am in Paris. I am with my wi...,365,,NaN,IP365,NaN,NaN,NaN,1234,

### SARA'S STUDY

In [37]:
raw_data = pd.read_excel('STUDYSara.xlsx')
raw_data = pd.DataFrame(raw_data)
raw_data.index = pd.RangeIndex(start = 0, stop = len(raw_data), step = 1)
raw_data = raw_data[:-1]
raw_data

,StartDate,Duration (in seconds),ResponseId,SCREEN_AGE,SCREEN_DRINK,SCREEN_CONSENT,DATE,HHSIZE_1,HHSIZE_2,HHSIZE_3,...,AUC,BAUC,EPISODIC,RANDOM,RANDBALANCE,GROUPNUM,GROUP,JB1,JB2,ID
0,2018-04-12 13:43:37,1195,R_3JDgZYHgOW5sfCY,18-64 years old,Never,I agree to the terms described above.,2018-04-12 00:00:00,3,1,2,...,0.620005,0.869150,1,1,.,1.0,1.0,0.0,0.0,2.0
1,2018-04-12 16:09:52,2283,R_2tFseQqYtPqVD3J,18-64 years old,1-10 drinks per week,I agree to the terms described above.,2018-04-12 00:00:00,2,0,2,...,0.860857,0.906275,1,1,.,1.0,1.0,0.0,0.0,4.0
2,2018-04-12 16:22:02,5665,R_2qDUZFRw20AvGwY,18-64 years old,Never,I agree to the terms described above.,2018-04-12 00:00:00,4,0,4,...,0.779182,0.908225,1,2,4,5.0,2.0,0.0,0.0,6.0
3,2018-04-12 19:32:31,711,R_4HIttGeQua7VjBT,18-64 years old,1-10 drinks per week,I agree to the terms described above.,2018-04-12 00:00:00,5,3,2,...,0.870164,0.927725,1,2,1,2.0,2.0,1.0,0.0,7.0
4,2018-04-12 20:10:32,1432,R_26c3h4f0YRiQJJs,18-64 years old,1-10 drinks per week,I agree to the terms described above.,2018-04-12 00:00:00,2,0,2,...,0.834945,0.914050,1,2,4,5.0,2.0,0.0,0.0,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,2018-06-27 18:34:53,2595,R_2WVBly9JmingkQU,18-64 years old,1-10 drinks per week,I agree to the terms described above.,2018-06-27 00:00:00,1,0,1,...,0.763742,0.877025,2,1,.,6.0,3.0,0.0,0.0,145.0
156,2018-07-01 07:19:53,2336,R_eWKHG4JBStQuOAN,18-64 years old,Never,I agree to the terms described above.,2018-07-01 00:00:00,2,1,1,...,0.295752,0.693375,2,1,.,6.0,3.0,0.0,0.0,150.0
157,2018-07-01 23:36:09,1880,R_2ZTGo0OBWqiSiC2,18-64 years old,1-10 drinks per week,I agree to the terms described above.,2018-07-01 00:00:00,2,0,2,...,0.851690,0.937500,2,1,.,6.0,3.0,0.0,0.0,153.0
158,2018-07-06 23:59:37,1581,R_VWHxSJuOkmZUwPT,18-64 years old,Never,I agree to the terms described above.,2018-07-07 00:00:00,2,0,2,...,0.509414,0.656250,2,1,.,6.0,3.0,0.0,0.0,158.0
159,2018-07-03 01:00:56,1894,R_2QRqDXC8yFYgs4a,18-64 years old,1-10 drinks per week,I agree to the terms described above.,2018-07-02 00:00:00,3,2,1,...,0.204208,0.400400,2,1,.,6.0,3.0,0.0,0.0,159.0

In [38]:
MONTH1_CUE = raw_data['G1CUE3']
MONTH6_CUE = raw_data['G1CUE4']
YEAR2_CUE = raw_data['G1CUE5']

IP30 = raw_data['IP30']
IP180 = raw_data['IP180']
IP730 = raw_data['IP730']

exciting_1 = raw_data['G1RATING3_3']
exciting_6 = raw_data['G1RATING3_4']
exciting_yr2 = raw_data['G1RATING3_5']

vivid_1 = raw_data['G1RATING4_3']
vivid_6 = raw_data['G1RATING4_4']
vivid_yr2 = raw_data['G1RATING4_5']

In [39]:
ID = []
EFT_ERT = []
DELAY = []
IP_VALUES = []
IP = []
CUES = []
EXCITEMENT = []
VIVID = []

for i in range(len(raw_data)):
    delay = 0
    ip = 0.0
    cue = []
    eft = 'EFT'

    for j in range(1,4):
        if j == 1:
            delay = 30
            ip = IP30[i]
            cue = MONTH1_CUE[i]
            excited = exciting_1[i]
            vividness = vivid_1[i]
        elif j == 2:
            delay = 180
            ip = IP180[i]
            cue = MONTH6_CUE[i]
            excited = exciting_6[i]
            vividness = vivid_6[i]
        elif j == 3:
            delay = 730
            ip = IP730[i]
            cue = YEAR2_CUE[i]
            excited = exciting_yr2[i]
            vividness = vivid_yr2[i]

        ID.append(i+1)
        EFT_ERT.append(eft)
        DELAY.append(delay)
        IP_VALUES.append(ip)
        IP.append('IP' + str(delay))
        CUES.append(cue)
        EXCITEMENT.append(excited)
        VIVID.append(vividness)

In [40]:
compiled_data_SARA = pd.DataFrame({ 'ID' : ID,
                            'CATEGORY': EFT_ERT,
                            'DELAY': DELAY,
                            'IP': IP,
                            'IP VALUE': IP_VALUES,
                            'CUES': CUES,
                            'EXCITEMENT': EXCITEMENT,
                            'VIVIDNESS': VIVID })
compiled_data_SARA.to_excel('cleaned/CLEAN_STUDY_Sara.xlsx', index = False)

In [41]:
compiled_data_SARA

,ID,CATEGORY,DELAY,IP,IP VALUE,CUES,EXCITEMENT,VIVIDNESS
0,1,EFT,30,IP30,99.22,In about 1 month I am at the zoo. I am with my...,5.0,5.0
1,1,EFT,180,IP180,99.22,In about 6 months I am at the beach. I am with...,5.0,5.0
2,1,EFT,730,IP730,0.78,In about 2 years I am at the courthouse gettin...,5.0,5.0
3,2,EFT,30,IP30,94.54,In about 1 month I am on vacation in Italy. My...,4.0,5.0
4,2,EFT,180,IP180,88.28,In about 6 months I am at Disneyworld. My husb...,5.0,5.0
...,...,...,...,...,...,...,...,...
475,159,EFT,180,IP180,58.60,NaN,NaN,NaN
476,159,EFT,730,IP730,35.16,NaN,NaN,NaN
477,160,EFT,30,IP30,46.10,NaN,NaN,NaN
478,160,EFT,180,IP180,24.22,NaN,NaN,NaN
479,160,EFT,730,IP730,5.46,NaN,NaN,NaN

In [42]:
all_data.append(compiled_data_SARA, ignore_index = True, sort=True)

,CATEGORY,CUES,DELAY,EXCITEMENT,ID,IP,IP VALUE,IP100 VALUE,IP1000 VALUE,VIVIDNESS
0,EFT,"In about 1 month, I am going fishing with my f...",30,5 - Very Much,1,IP30,NaN,22.66,23.44,5 - Very Much
1,EFT,"In about 3 months, I am eating dinner with my ...",90,5 - Very Much,1,IP90,NaN,19.54,101.56,5 - Very Much
2,EFT,"In about 1 year, I am going deer hunting with ...",365,5 - Very Much,1,IP365,NaN,2.34,23.44,4
3,EFT,"In about 5 years, I am attending my sister's r...",1825,4,1,IP1825,NaN,0.78,7.80,4
4,EFT,"In about 25 years, I am having cake and ice cr...",9125,,1,IP9125,NaN,0.78,7.80,
...,...,...,...,...,...,...,...,...,...,...
725,EFT,NaN,180,NaN,159,IP180,58.60,NaN,NaN,NaN
726,EFT,NaN,730,NaN,159,IP730,35.16,NaN,NaN,NaN
727,EFT,NaN,30,NaN,160,IP30,46.10,NaN,NaN,NaN
728,EFT,NaN,180,NaN,160,IP180,24.22,NaN,NaN,NaN
729,EFT,NaN,730,NaN,160,IP730,5.46,NaN,NaN,NaN

# STUDY 6

In [43]:
raw_data = pd.read_excel('STUDY6.xlsx')
raw_data = pd.DataFrame(raw_data)
raw_data

,SUBJECTID,GROUP,EPISODIC,TYPE,COUNTER,EXCLUDE,MTURKID,PAR1,PAR2,PAR3,...,G1RATING3_2,G1RATING3_3,G1RATING3_4,G1CUE3,IP1,IP7,IP30,IP180,IP365,AUC1
0,102,1,1,1,2,0,A2O7H7VXLFN6BP,4,2,4,...,4,4,4,In about one year my son Brian and I are at Si...,99.22,99.22,99.22,89.84,38.28,0.794142
1,103,1,1,1,2,0,A1B76WYZ47BQJ,4,2,4,...,5,5,5,Sophia and I will be arriving early next year ...,99.22,99.22,74.22,74.22,72.66,0.748396
2,107,1,1,1,2,0,A3KCK7R1VDC1ZU,5,1,5,...,5,5,5,"In about 1 year from today my son, Christian a...",99.22,99.22,99.22,99.22,99.22,0.989484
3,114,1,1,1,2,0,A2RGHUEITGTOMG,5,1,5,...,1,1,1,We are visiting the tallest mountains and cave...,99.22,99.22,99.22,99.22,88.28,0.962134
4,118,1,1,1,2,0,AYYBMS4XQJ9AP,4,2,4,...,5,5,5,In one year my daughter and I are going to go ...,99.22,94.54,94.54,88.28,89.84,0.902755
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,342,2,1,2,1,0,A3JGB3IIWOTJSI,5,2,5,...,.,.,.,.,99.22,99.22,91.40,49.22,24.22,0.554016
77,348,2,1,2,1,0,A1S6I53FIDPD6Q,4,2,4,...,.,.,.,.,99.22,99.22,99.22,99.22,99.22,0.989484
78,351,2,1,2,1,0,A16SBLA5LW3HXA,4,2,4,...,.,.,.,.,99.22,80.46,80.46,72.66,69.54,0.740888
79,354,2,1,2,1,0,A2TQN31TSSULLR,4,2,4,...,.,.,.,.,99.22,99.22,99.22,99.22,99.22,0.989484
80,355,2,1,2,1,0,A23NXNIUABJCHA,4,1,4,...,.,.,.,.,99.22,97.66,97.66,89.84,50.78,0.821013

In [44]:
SID = raw_data['SUBJECTID']
GROUP = raw_data['GROUP']

MONTH_G1_CUE = raw_data['G1CUE2']
MONTH_G2_CUE = raw_data['G2CUE2']
YEAR_G2_CUE = raw_data['G2CUE3']
YEAR_G1_CUE = raw_data['G1CUE3']

IP30 = raw_data['IP30']
IP180 = raw_data['IP180']
IP365 = raw_data['IP365']

exciting_G1_month = raw_data['G1RATING2_3']
exciting_G2_month = raw_data['G2RATING2_3']
exciting_G2_yr = raw_data['G2RATING3_3']
exciting_G1_yr = raw_data['G1RATING3_3']

vivid_G1_month = raw_data['G1RATING2_4']
vivid_G2_month = raw_data['G2RATING2_4']
vivid_G1_yr = raw_data['G1RATING3_4']
vivid_G2_yr = raw_data['G2RATING3_4']

In [45]:
ID = []
EFT_ERT = []
DELAY = []
IP_VALUES = []
IP = []
CUES = []
EXCITEMENT = []
VIVID = []

for i in range(len(raw_data)):
    delay = 0
    ip = 0.0
    cue = []
    eft = 'EFT'
    
    for j in range(1,4):
        excited = None
        vividness = None
        if j == 1:
            delay = 30
            ip = IP30[i]
            if GROUP[i] == 1:
                cue = MONTH_G1_CUE[i]
                excited = exciting_G1_month[i]
                vividness = vivid_G1_month[i]
            else:
                cue = MONTH_G2_CUE[i]
                excited = exciting_G2_month[i]
                vividness = vivid_G2_month[i]
        elif j == 2:
            delay = 180
            ip = IP180[i]
            if GROUP[i] == 1:
                cue = MONTH_G1_CUE[i]
                excited = exciting_G1_month[i]
                vividness = vivid_G1_month[i]
            else:
                cue = MONTH_G2_CUE[i]
                excited = exciting_G2_month[i]
                vividness = vivid_G2_month[i]
        elif j == 3:
            delay = 365
            ip = IP365[i]
            if GROUP[i] == 1:
                cue = YEAR_G1_CUE[i]
                excited = exciting_G1_yr[i]
                vividness = vivid_G1_yr[i]
            else:
                cue = YEAR_G2_CUE[i]
                excited = exciting_G2_yr[i]
                vividness = vivid_G2_yr[i]
            
        ID.append(SID[i])
        EFT_ERT.append(eft)
        DELAY.append(delay)
        IP_VALUES.append(ip)
        IP.append('IP' + str(delay))
        CUES.append(cue)
        EXCITEMENT.append(excited)
        VIVID.append(vividness)

In [23]:
compiled_data_study6 = pd.DataFrame({ 'ID' : ID,
                            'CATEGORY': EFT_ERT,
                            'DELAY': DELAY,
                            'IP': IP,
                            'IP VALUE': IP_VALUES,
                            'CUES': CUES,
                            'EXCITEMENT': EXCITEMENT,
                            'VIVIDNESS': VIVID })
compiled_data_study6.to_excel('cleaned/CLEAN_STUDY_6.xlsx', index = False)

In [46]:
all_data.append(compiled_data_study6, ignore_index = True, sort=True)

,CATEGORY,CUES,DELAY,EXCITEMENT,ID,IP,IP VALUE,IP100 VALUE,IP1000 VALUE,VIVIDNESS
0,EFT,"In about 1 month, I am going fishing with my f...",30,5 - Very Much,1,IP30,NaN,22.66,23.44,5 - Very Much
1,EFT,"In about 3 months, I am eating dinner with my ...",90,5 - Very Much,1,IP90,NaN,19.54,101.56,5 - Very Much
2,EFT,"In about 1 year, I am going deer hunting with ...",365,5 - Very Much,1,IP365,NaN,2.34,23.44,4
3,EFT,"In about 5 years, I am attending my sister's r...",1825,4,1,IP1825,NaN,0.78,7.80,4
4,EFT,"In about 25 years, I am having cake and ice cr...",9125,,1,IP9125,NaN,0.78,7.80,
...,...,...,...,...,...,...,...,...,...,...
488,EFT,In about 4 months I am watching a movie and go...,180,4,354,IP180,99.22,NaN,NaN,4
489,EFT,In about 1 year I am at a concert with Alex. W...,365,5,354,IP365,99.22,NaN,NaN,5
490,EFT,In about 6 months I am with my mom at the Belk...,30,5,355,IP30,97.66,NaN,NaN,4
491,EFT,In about 6 months I am with my mom at the Belk...,180,5,355,IP180,89.84,NaN,NaN,4
492,EFT,In about 1 year I am watching a New York Range...,365,5,355,IP365,50.78,NaN,NaN,5

# STUDY 20

In [13]:
import pandas as pd
import math

In [22]:
raw_data = pd.read_excel('STUDY20.xlsx')
raw_data = pd.DataFrame(raw_data)
raw_data.drop(0, inplace = True)
raw_data.drop(1, inplace = True)
raw_data.index = pd.RangeIndex(start = 0, stop = len(raw_data), step = 1)

Category = []
nan = raw_data['Condition'][0]
for item in raw_data['Condition']:
    if item is not nan:
        eft_ert = str(item).split('+')
        if len(eft_ert) > 1:
#         if 'EFT' in eft_ert or 'ERT'in eft_ert:
            Category.append(eft_ert[1])
    else:
        Category.append(str(item))

raw_data['Category'] = Category
raw_data['Category']

0      nan
1      nan
2      nan
3      nan
4      EFT
      ...
919    nan
920    nan
921    nan
922    ERT
923    nan
Name: Category, Length: 924, dtype: object

In [41]:
SID = raw_data['subjectid']
print(len(SID))
EFT_cue_month = raw_data['Q2195']
EFT_cue_yr = raw_data['Q2206']
EFT_cue_5yr = raw_data['Q402']

ert_cue1 = raw_data['Q2219']
ert_cue2 = raw_data['Q429']
ert_cue3 = raw_data['Q2231']

ip_6month = raw_data['IP6M']
ip_1yr = raw_data['IP1Y']
ip_2yr = raw_data['IP2Y']
ip_5yr = raw_data['IP5Y']

924

In [42]:
ID = []
EFT_ERT = []
DELAY = []
IP_VALUES = []
IP = []
CUES = []
# EXCITEMENT = []
# VIVID = []

for i in range(len(raw_data)):
    delay = 0
    ip = 0.0
    cue = ""
    eft = ""
    
    if raw_data['Category'][i] == 'EFT':
        eft = 'EFT'
        for j in range(1,5):
            if j == 1:
                delay = 180
                ip = ip_6month[i]
                cue = EFT_cue_month[i]
            elif j == 2:
                delay = 365
                ip = ip_1yr[i]
                cue = EFT_cue_yr[i]
            elif j == 3:
                delay = 730
                ip = ip_2yr[i]
                cue = EFT_cue_5yr[i]
            elif j == 4:
                delay = 1825
                ip = ip_5yr[i]
                cue = EFT_cue_5yr[i]

            
            ID.append(SID[i])
            EFT_ERT.append(eft)
            DELAY.append(delay)
            IP_VALUES.append(ip)
            IP.append('IP' + str(delay))
            CUES.append(cue)

for i in range(len(raw_data)):
    delay = 0
    ip = 0.0
    cue = ""
    eft = ""
    
    if raw_data['Category'][i] == 'ERT':
        eft = 'ERT'
        for j in range(1,4):
            if j == 1:
                delay = 180
                ip = ip_6month[i]
                cue = ert_cue1[i]
            elif j == 2:
                delay = 180
                ip = ip_6month[i]
                cue = ert_cue2[i]
            elif j == 3:
                delay = 180
                ip = ip_6month[i]
                cue = ert_cue3[i]
            
            ID.append(SID[i])
            EFT_ERT.append(eft)
            DELAY.append(delay)
            IP_VALUES.append(ip)
            IP.append('IP' + str(delay))
            CUES.append(cue)
        
#         EXCITEMENT.append(excited)
#         VIVID.append(vividness)

In [44]:
compiled_data_study20 = pd.DataFrame({ 'ID' : ID,
                            'CATEGORY': EFT_ERT,
                            'DELAY': DELAY,
                            'IP': IP,
                            'IP VALUE': IP_VALUES,
                            'CUES': CUES})
compiled_data_study20.to_excel('cleaned/CLEAN_STUDY_20.xlsx', index = False)